<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{common::header}"></head>
<body>
	<div class="container-xxl bg-white p-0">
		<div th:replace="~{common::spinner}"></div>
		<div th:replace="~{common::nav}"></div>

		<!-- About Start -->
		<div class="container-xxl py-5 bg-dark page-header mb-5">
			<div class="container my-5 pt-5 pb-4">
				<h1 class="display-3 text-white mb-3 animated slideInDown">ZeroToDeploy</h1>
			</div>
		</div>
		<!-- About End -->
		<footer th:replace="~{common::footer}"></footer>

		<!-- Back to Top -->
		<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
			class="bi bi-arrow-up"></i></a>
	</div>

	<!-- JavaScript Libraries -->
	<div th:replace="~{common::script}"></div>
</body>

</html>