<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::header}"></head>
<body>
<div th:replace="~{common::navbar}"></div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <h5>채팅방</h5>
            <ul class="list-group" id="chat-room-list">

            </ul>
        </div>

        <div class="col-md-8">
            <div class="border rounded p-3 mb-3" style="height: 400px; overflow-y: auto;" id="chat-box">
            </div>
            <form id="chat-form" class="d-flex">
                <input type="text" class="form-control me-2" placeholder="메시지를 입력하세요">
                <button type="submit" class="btn btn-primary">전송</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{common::footer}"></div>
</body>
</html>
