<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common::header}"></head>
<body class="d-flex flex-column min-vh-100">
<div class="container-xxl bg-white p-0 d-flex flex-column min-vh-100">
<div th:replace="~{common::nav}"></div>

<div class="container mt-5">
    <h2>친구 목록</h2>
    <div id="friend-list">
    </div>

    <h3 class="mt-4">받은 친구 요청</h3>
    <div id="received-requests">
    </div>

    <h3 class="mt-4">요청 친구 요청</h3>
    <div id="received-responses">
    </div>
</div>
    <footer th:replace="~{common::footer}"></footer>
    <div th:replace="~{common::script}"></div>
</div>
</body>
</html>
