<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{common::header}"></head>
<body class="d-flex flex-column min-vh-100">
<div class="container-xxl bg-white p-0 d-flex flex-column min-vh-100">

    <div th:replace="~{common::spinner}"></div>
    <div th:replace="~{common::nav}"></div>

    <!-- Search Bar -->
    <div class="container-fluid bg-primary wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <input type="text" class="form-control border-0" placeholder="Keyword" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100">Search</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Center Menu Buttons -->
    <section class="menu-section flex-grow-1">
        <div class="container-fluid px-0 h-100">
            <div class="row g-0 h-100">
                <div class="col-4 d-flex">
                    <a th:href="@{javaSpring}" class="btn btn-outline-primary w-100 h-100 rounded-0 d-flex align-items-center justify-content-center fw-bold">java & spring</a>
                </div>
                <div class="col-4 d-flex">
                    <a th:href="@{linux}" class="btn btn-outline-primary w-100 h-100 rounded-0 d-flex align-items-center justify-content-center fw-bold">linux</a>
                </div>
                <div class="col-4 d-flex">
                    <a th:href="@{web}" class="btn btn-outline-primary w-100 h-100 rounded-0 d-flex align-items-center justify-content-center fw-bold">web</a>
                </div>
                <div class="col-4 d-flex">
                    <a th:href="@{history}" class="btn btn-outline-primary w-100 h-100 rounded-0 d-flex align-items-center justify-content-center fw-bold">history</a>
                </div>
                <div class="col-4 d-flex">
                    <a th:href="@{about}" class="btn btn-outline-primary w-100 h-100 rounded-0 d-flex align-items-center justify-content-center fw-bold">about</a>
                </div>
                <div class="col-4 d-flex">
                    <a th:href="@{/}" class="btn btn-outline-primary w-100 h-100 rounded-0 d-flex align-items-center justify-content-center fw-bold">home</a>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{common::footer}"></footer>
</div>

<!-- JS -->
<div th:replace="~{common::script}"></div>
</body>

</html>
