<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{common::header}"></head>
<body>
<div class="container-xxl bg-white p-0">
    <div th:replace="~{common::spinner}"></div>
    <div th:replace="~{common::nav}"></div>

    <div class="container py-5">
        <h2>글 상세</h2>
        <form th:action="@{/post/update/{id}(id=${post.id})}" method="post">
            <div class="mb-3">
                <label class="form-label">제목</label>
                <input type="text" class="form-control" name="title" th:value="${post.title}">
            </div>
            <div class="mb-3">
                <label class="form-label">내용</label>
                <textarea class="form-control" name="content" rows="10" th:text="${post.content}"></textarea>
                <div th:if="${post.fileName != null}">
                    <p>첨부파일:</p>

                    <div th:switch="${#strings.toLowerCase(post.fileName)?.split('\\.')[1]}">
                        <img th:case="'jpg'" th:src="@{'/uploads/' + ${post.fileName}}" style="max-width: 300px;" />
                        <img th:case="'jpeg'" th:src="@{'/uploads/' + ${post.fileName}}" style="max-width: 300px;" />
                        <img th:case="'png'" th:src="@{'/uploads/' + ${post.fileName}}" style="max-width: 300px;" />
                        <img th:case="'gif'" th:src="@{'/uploads/' + ${post.fileName}}" style="max-width: 300px;" />
                        <a th:case="*"
                           th:href="@{'/uploads/' + ${post.fileName}}"
                           th:text="${post.fileName}"
                           download></a>
                    </div>
                </div>

            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <button type="submit" class="btn btn-success">저장</button>
                <a th:href="@{/post/delete/{id}(id=${post.id})}" class="btn btn-danger"
                   onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
            </div>
        </form>
    </div>

    <footer th:replace="~{common::footer}"></footer>
</div>
<div th:replace="~{common::script}"></div>
</body>
</html>
